-- SQL: Create secure voting/likes tables
CREATE TABLE IF NOT EXISTS post_votes (
  id serial primary key,
  user_id text not null references users(id) on delete cascade,
  post_id text not null references posts(id) on delete cascade,
  vote_type text check (vote_type in ('up', 'down')) not null,
  created_at timestamp default now(),
  unique(user_id, post_id)
);

CREATE TABLE IF NOT EXISTS gallery_votes (
  id serial primary key,
  user_id text not null references users(id) on delete cascade,
  gallery_image_id text not null references gallery_images(id) on delete cascade,
  vote_type text check (vote_type in ('up', 'down')) not null,
  created_at timestamp default now(),
  unique(user_id, gallery_image_id)
);

CREATE TABLE IF NOT EXISTS comment_likes (
  id serial primary key,
  user_id text not null references users(id) on delete cascade,
  comment_id text not null references comments(id) on delete cascade,
  created_at timestamp default now(),
  unique(user_id, comment_id)
);

